/*sets body parameters*/
.main{
  min-width:360px;
}
.content{
  margin-top:14vh;
  text-align:center;
}
/*navigation styles*/
#navBar{
  height:8em;
  min-width:100vw;
  background-color: rgb(255,255,255);
  padding-right:2vw;
}
#navbarNavDropdown{
  background: rgb(255,255,255);
  text-align: center;
  font-weight: bold;
  font-size: 1.8vh;
  z-index: 2;
}
#navbarNavDropdown a{
  padding-right:1.5em;
}
/*home page landing screen*/
.landing{
  background-image:url('https://s3.amazonaws.com/ardentindustrial/bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding:0px;
  margin:0px;
  min-height:100vh;
  width:auto;
  
}
.landing>h1{
  color: rgb(255,255,255);
  font-size:6vw;
}
/*styles for second page scrolled down on home page*/
.about-box{
  max-height:100vh;
  width:auto;
  padding:10vh 0;
}
.abpic{
  width:40vw;
  display:inline-block;
  background-image: url('./img/clarkaction.jpg');
  background-color: #3D3D3D;
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 8px 10px 10px rgba(0,0,0,0.4);
}
.buffer{
  width:1vw;
}
.wording-main{
  width:40vw;  
  background-image:url('./img/steel.jpeg');
  background-color: #3D3D3D;
  background-blend-mode: multiply;
  color: rgb(255,255,255);
  font-size: 2vh;
  box-shadow: 8px 10px 10px rgba(0,0,0,0.4);
  padding:18vh 8vh;
  text-align: center;
}
/*social media links styling*/
.navbuttons{
  text-align: center;
}
.navbuttons img{
  height:4vh;
  margin:1vh;
}
/*site navigation photos*/
.MenuBlock-wrapper{
  height:100vh;
  width:auto;
  padding:5vw;
  margin-bottom:4vh;
}
.box1, .box2, .box3, .box4, .box5, .box6{
  height:40vh;
  width:auto;
  margin-top:1vw;
  color:rgb(255,255,255);
  text-shadow:2px 2px 5px rgba(0,0,0,0.9);
  padding-left:1vw;
}
.box1{
  background-color: #3D3D3D;
  background-image: url('./img/clarknew.jpg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box2{
  background-color: #3D3D3D;
  background-image: url('./img/used.jpg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box3{
  background-color: #3D3D3D;
  background-image: url('./img/new.jpeg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box4{
  background-color: #3D3D3D;
  background-image: url('./img/service.jpeg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box5{
  background-color: #3D3D3D;
  background-image: url('./img/parts.jpg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box6{
  background-color: #3D3D3D;
  background-image: url('./img/contact.jpeg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
/*footer styling*/
.footer{
  min-height:10vh;
  max-width:100vw;
  color:white;
  background-image:url('./img/steel.jpeg');
  background-color: #3D3D3D;
  background-blend-mode: multiply;
  padding: 1vh 4vw;
} 
/*sales page stytling*/
.sales-wrapper{
  max-height:180vh;
  background-color:rgb(200,200,200);
}
.sales-txt{
  padding:10vw;
}
.sales-img{
  background-image:url('./img/sales1.jpg');
  background-size:cover;
  min-height:20vw;
  min-width:20vw;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
  
}
.featured-img{
  min-height:20vw;
  background-image: url('./img/fork1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.img-wrapper{
  padding:2vw;
}
.row0{
  height:10vw;
  
  
}
.row1{
  height:10vw;
  
}
.img0, .img1, .img2, .img3, .img4, .img5, .img6, .img7{
  margin:2vw;
}
.img0{
  background-image: url('./img/fork8.png');
  background-repeat: no-repeat;
  background-size: contain;
  
}
.img1{
  background-image: url('./img/fork0.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img2{
  background-image: url('./img/fork2.png');
  background-repeat: no-repeat;
  background-size: contain;

}
.img3{
  background-image: url('./img/fork3.png');
  background-repeat: no-repeat;
  background-size: contain;

}
.img4{
  background-image: url('./img/fork9.png');
  background-repeat: no-repeat;
  background-size: contain;

}
.img5{
  background-image: url('./img/fork5.png');
  background-repeat: no-repeat;
  background-size: contain;

}
.img6{
  background-image: url('./img/fork6.png');
  background-repeat: no-repeat;
  background-size: contain;

}
.img7{
  background-image: url('./img/fork7.png');
  background-repeat: no-repeat;
  background-size: contain;

}


/*responsive styling */

@media (max-width:1023px){
  
  .wording-main{
   min-width:90vw;
   margin-top:-5vh;
   margin-bottom:12vh;
 }
 .landing>h1{
  font-size:10vw;
}

  .abpic, .buffer{
    display: none;
  }
  .social-wrapper img{
    height:6vh;
  }
  .box1, .box2, .box3, .box4, .box5, .box6{
    max-width:75vw;
  }
  .MenuBlock-wrapper{
    height:auto;
    max-width:80vw;
  }
  .footer{
    min-height:5vh;
    min-width:100vw;
    color:white;
    background-color: #3D3D3D;
    
  } 
  .content{
    margin-top:20vh;
  }
  .sales-img{
    max-width:60vw;
    min-height:30vh;
  }
  .sales-txt{
    padding:2vw;
  }
  
  
}
