

/*sets body parameters*/
.main{
  min-width:360px;
}
.content{
  position:relative;
  margin-top:14vh;
  text-align:center;
  font-size:2vh;
}
#logo{
height:8vh;
}


/*navigation styles*/
#navBar{
  height:10vh;
  min-width:100vw;
  background-color: rgb(255,255,255);
  padding-right:2vw;
}
#navbarNavDropdown{
  background: rgb(255,255,255);
  text-align: center;
  font-weight: bold;
  font-size: 1.8vh;
  z-index: 2;
}
#navbarNavDropdown a{
  padding-right:1.5em;
}
.navbar-toggler-icon{
  height:4vh;
}


/*home page landing screen*/
.landing{
  background-image:url('https://s3.amazonaws.com/ardentindustrial/bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding:0px;
  margin-bottom:2vh;
  min-height:100vh;
  width:auto;
}
.heading-anim h2{
  color:white;
  font-size:3vw;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.8);  
}
.heading-anim h3{
  color:white;
  font-size:1vw;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}


/*styles for second page scrolled down on home page*/
.about-box{
  max-height:100vh;
  width:auto;
  margin-top:10vh;
}
.abpic{
  width:40vw;
  display:inline-block;
  background-image: url('./img/clarkaction.jpg');
  background-color: #3D3D3D;
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 8px 10px 10px rgba(0,0,0,0.4);
}
.buffer{
  width:1vw;
}
.wording-main{
  width:40vw;  
  background-image:url('./img/steel.jpeg');
  background-color: #3D3D3D;
  background-blend-mode: multiply;
  color: rgb(255,255,255);
  font-size: 2vh;
  box-shadow: 8px 10px 10px rgba(0,0,0,0.4);
  padding:18vh 8vh;
  text-align: center;
  margin-bottom:0px;
}


/*social media links styling*/
.navbuttons{
  text-align: center;
}
.navbuttons img{
  height:4vh;
  margin:1vh;
}


/*site navigation photos*/
.MenuBlock-wrapper{
  height:100vh;
  width:auto;
  padding:5vw;
  margin-bottom:20vh;
}
.box1, .box2, .box3, .box4, .box5, .box6{
  height:40vh;
  width:auto;
  margin-top:4vw;
  color:rgb(255,255,255);
  text-shadow:2px 2px 5px rgba(0,0,0,0.9);
  padding-left:1vw;
}
.box1{
  background-color: #3D3D3D;
  background-image: url('./img/clarknew.jpg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box2{
  background-color: #3D3D3D;
  background-image: url('./img/used.jpg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box3{
  background-color: #3D3D3D;
  background-image: url('./img/new.jpeg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box4{
  background-color: #3D3D3D;
  background-image: url('./img/parts1.jpg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box5{
  background-color: #3D3D3D;
  background-image: url('./img/warranty.jpeg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.box6{
  background-color: #3D3D3D;
  background-image: url('./img/contact.jpeg');
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}


/*footer styling*/
.footer{
  min-height:10vh;
  max-width:100vw;
  color:white;
  background-image:url('./img/steel.jpeg');
  background-color: #3D3D3D;
  background-blend-mode: multiply;
  padding: 1vh 4vw;
  margin-top:2vh;
} 


/*sales page stytling*/
.sales-wrapper{
  position:relative;
  max-height:180vh;
}
.sales-txt{
  padding:10vw;
}
.sales-img{
  background-image:url('./img/sales1.jpg');
  background-size:cover;
  min-height:20vw;
  min-width:20vw;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.featured-img{
  min-height:20vw;
  background-image: url('./img/fork7.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.img-wrapper{
  background-image:url('./img/bg2.jpg');
  background-size: cover;
  padding:2vw;
  min-height:20vh;
  margin-bottom:10vh;
}
.row0{
  height:10vw;
}
.row1{
  height:10vw;
}
.img0, .img1, .img2, .img3, .img4, .img5, .img6, .img7{
  margin:2vw;
}
.img0{
  background-image: url('./img/fork8.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img1{
  background-image: url('./img/fork0.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img2{
  background-image: url('./img/fork2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img3{
  background-image: url('./img/fork3.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img4{
  background-image: url('./img/fork9.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img5{
  background-image: url('./img/fork5.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img6{
  background-image: url('./img/fork6.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.img7{
  background-image: url('./img/fork1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
#ss{
  max-width:20vw;
}

/*Brand slider*/
.brand-slide{
  height:10vh;
}
.used-img{
  background-image:url('./img/used1.jpg');
  background-size:cover;
  min-height:50vh;
  min-width:30vw;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
}
.rental-img{
  background-image:url('./img/new.jpeg');
  background-size:100%;
  background-repeat: no-repeat;
  min-height:50vh;
  min-width:30vw;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
  margin:10vw;
}
.parts-img{
  background-image:url('./img/parts1.jpg');
  background-size:100%;
  background-repeat: no-repeat;
  min-height:50vh;
  min-width:30vw;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.4);
  margin:10vw;
}


/*****************************************************/
/*responsive styling */
@media (max-width:1023px){
  
  .wording-main{
   min-width:90vw;
   margin-top:-5vh;
   margin-bottom:12vh;
  }
  .heading-anim h2{
    font-size:4vh;
  }
  .heading-anim h3{
    font-size:2vh;
  }
  .abpic, .buffer{
    display: none;
  }
  .social-wrapper img{
    height:6vh;
  }
  .box1, .box2, .box3, .box4, .box5, .box6{
    max-width:75vw;
  }
  .MenuBlock-wrapper{
    height:auto;
    max-width:80vw;
    margin-bottom:5vh;
  }
  .footer{
    min-height:5vh;
    min-width:100vw;
    color:white;
    background-color: #3D3D3D;
    padding:0 8vh;
  } 
  .addyul{
    margin-left:auto;
    text-align: center;
  }
  .content{
    margin-top:20vh;
  }
  .sales-txt{
    padding:10vw;
  }
  .img-wrapper{
    margin-bottom:6vh;
  }
  
  .sales-img{
    max-width:60vw;
    min-height:30vh;
  }
  .used-img{
    max-width:60vw;
    min-height:30vh;
  }
  .rental-img{
    max-width:60vw;
    min-height:30vh;
    background-size: cover;
    background-position: top;
  }
  .parts-img{
    max-width:60vw;
    min-height:30vh;
    background-size: cover;
    background-position: top;
  }

}
