#navBar{
  height:8em;
  width:100%;
}
.homewrap{
 margin:0px;
 padding:0px;
 position:relative;
}
.homewrap>h1{
  font-size: 7vh;
  font-family:'roboto';
  color:rgb(255,255,255);
  z-index:5;
  position: absolute;
  top:50vh;
  left:40vw;
  margin:5vh;
}
#bg{
  max-height:90vh;
  min-width:100vw;

}
#navbarNavDropdown{
  background: rgba(255,255,255,0.8);
  text-align: center;
  font-weight: bold;
  z-index: 2;
}
#navbarNavDropdown a{
  padding-right:1.5em;
  font-size: 1.8vh;
  
}
/*media queries */


